<section class="content-header">
    <h4>
        Text
    </h4>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Text</li>
    </ol>
</section>
<section class="content">
    
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Text List</h3>
                    <p style="float:right;"><button  class="btn bg-purple btn-flat margin" (click)="add()">Add Text </button></p>
                </div>
                <div class="box-body table-responsive no-padding">
                    <p style="float:right;"> Search: <input type="text" #search_el (keyup)="contentSearch()"></p>
                    <table id="example2" class="table table-bordered table-hover dataTable table-responsive" role="grid" aria-describedby="example2_info">
                        <thead>
                            <tr role="row">
                                <th>ID</th>
                                <th>Trending</th>
                                <th>Point</th>
                                <th>Text Category Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let text_data of texts|filter:search_val| paginate: { itemsPerPage: 6, currentPage: page }">
                                <td>{{text_data.id}}</td>
                                <td [ngSwitch]="text_data.is_trending">
                                    <span *ngSwitchCase="1"> Yes</span>
                                    <span *ngSwitchDefault> No</span>
                                </td>
                                <td>{{text_data.point}}</td>
                                <td>{{text_data.textCategoryName}}</td>
                                <td><button  class="btn btn-warning btn-xs" (click)="edit(text_data.id)"><i class="fa fa-fw fa-edit"></i></button> &nbsp; <button  class="btn btn-danger btn-xs" (click)="delete(text_data.id)"><i class="fa fa-fw fa-trash"></i></button>
                                </td>
                            </tr>    
                        </tbody>
                    </table>
                    <div style="float:right;text-align:center;padding-top: 10px;"><pagination-controls (pageChange)="page = $event"></pagination-controls></div>
                </div>
            </div>    
       </div>
    </div>
    
</section>       

<!--Edit Modal-->
    
