<section class="content-header">
    <h4>
        Video Category
        <!-- <small>Control panel</small> -->
    </h4>
    <ol class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Video Category</li>
    </ol>
</section>
<section class="content">
    
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Video Category List</h3>
                    <p style="float:right;"><button  class="btn bg-purple btn-flat margin" (click)="addModal()">Add Video Category</button></p>
                </div>
                <div class="box-body table-responsive no-padding">
                    <p style="float:right;"> Search: <input type="text" #search_el (keyup)="contentSearch()"></p>
                    <table id="example2" class="table table-bordered table-hover dataTable table-responsive" role="grid" aria-describedby="example2_info">
                        <thead>
                            <tr role="row">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Icon</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let video_category_data of video_categories|filter:search_val| paginate: { itemsPerPage: 6, currentPage: page }">
                                <td>{{video_category_data.id}}</td>
                                <td>{{video_category_data.name}}</td>
                                <td>
                                    <div class="text-center">
                                        <img [src]="sanitizer.bypassSecurityTrustResourceUrl(video_category_image_url+video_category_data.icon)"  style="height:100px;width:auto">
                                    </div>    
                                </td>
                                <td><button  class="btn btn-warning btn-xs" (click)="editModal(video_category_data)"><i class="fa fa-fw fa-edit"></i></button> &nbsp; <button  class="btn btn-danger btn-xs" (click)="delete(video_category_data.id)"><i class="fa fa-fw fa-trash"></i></button></td>
                            </tr>    
                        </tbody>
                    </table>
                    <div style="float:right;text-align:center;padding-top: 10px;"><pagination-controls (pageChange)="page = $event"></pagination-controls></div>
                </div>
            </div>    
       </div>
    </div>

    <app-video-category-modal [modalPassData]="video_category" (modalRetrieveData)="modalRetrieveData($event)" (dataTableRefresh) ="dataTableRefresh($event)"> </app-video-category-modal>
    
</section>       
